body{
    background-color:red;
    font-family: 'Roboto',sans-serif;
}

h1, h2{
    text-align: center;
}
p{
    color:blue;
   /* font-size: 24px; */ 
}
img{
    display: block;
    width: 20%;
    margin: auto;
}